* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  z-index: 1;
}

.btn {
  margin: 10px;
}

.hole {
  background: url(dirt.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  height: 100px;
  max-width: 250px;
  z-index: 2;
}

.mole {
  background: url(mole.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 0 30px;
  padding: 0;
  height: 130px;
  position: relative;
  z-index: -1;
}

.getUP {
  animation: mymove 0.75s linear;
}

@keyframes mymove {
  0% {
    top: -50px;
    z-index: 1;
  }
  20% {
    top: -60px;
  }
  40% {
    top: -75px;
  }
  60% {
    top: -75px;
  }
  80% {
    top: -60px;
  }
  100% {
    top: -50px;
  }
}
